body {
  font-family: "Helvetica Neue", Helvetica;
  /*background-color: #DDDDDD !important;*/
  }
    
path {
  fill: none;
}

.data1 {
  stroke: #D01A55;
  stroke-width:2px;
}

.data2 {
  stroke: #34DDDD;
  stroke-width:2px;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line, .x.axis path {
  fill: none;
  stroke: #333;
}

.x.axis text {
  font-size: 1em;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #333;
}

.y.axis text {
  font-size: 1em;
}
